.body {
    background-size: cover;
    background-image: url("/Users/martinacaputy/apps/Basic-Portfolio/assets/images/dust_scratches/dust_scratches.png");
}

.navbar-brand {
    color: #ffffff;
}
.navbar-nav {
    float: right;
}

.content {
    background-color: #ffffff;
    width: 960px;
    padding: 50px;


}